* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000000;
}











/* navbar styling */

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}
.align-center{
    align-items: center;
}
.wrap{
    flex-wrap: wrap;
}
.gap {
    gap: 30px;
}
.rounded{
    border-radius: 30px;
}
.m-2{
    margin: 10px;
}




.plr-big {
    padding: 0px 110px;
}

.logo-width{
    max-width: 100%;
}

.nav-link {
    font-size: 2rem;
    text-decoration: none;
}
.nav button a{
    text-decoration: none;
}



#franchise {
    background-color: transparent;
    border: 1px solid #ffffff;
    padding: 15px 20px;
    cursor: pointer;
}

#order-online {
    background-color:  #f42625;
    border: 0px;
    padding: 15px 20px;
    cursor: pointer;
}

/* navbar end */









.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    padding: 80px 0px;
}

.book {
    width: 40%;
    border: 1px solid #ffffff52;
    padding: 30px 0px;
}

.book img {
    width: 100%;
}

.text-bar {
    width: 100%;
    padding: 80px 80px;
    display: flex;
    justify-content: center;
}

.pra {
    text-align: center;
    font-size: 1.6rem;
}

.pra h1 {
    margin-bottom: 80px;
}

.f-c {
    font-size: 1.4rem;
    color: #ffffffb3;
    margin-top: 8px;
}

.mt-10 {
    margin-top: 30px
}











/* footer stat */
.padding {
    padding: 30px 140px;
}

footer {
    width: 100%;
    padding: 70px 15px 0px 15px;
    color: #ffffff;
    background-color: #ffffff0f;
    ;
}


.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.p-55 {
    padding-bottom: 55px;
}


.logo {
    width: 25%;
}

.logo-width {
    max-width: 100%;
}


.f-pra {
    font-size: 1.6rem;
}

.p {
    color: lightgrey;
    margin-top: 10px;
}



.link h3 {
    font-size: 2rem;
}

.link img {
    max-width: 100%;
}

.link>ul>li {
    font-size: 1.6rem;
    margin-top: 10px;
    color: lightgray;
    list-style: none;
}

.colum {
    display: flex;
    flex-direction: column;
}

.mt-10 {
    margin-top: 10px;

}

footer img {

    max-width: 100%;
    /* position: absolute; */
    bottom: 0px;
    left: 30px;
}



/* footer end */